@import 'base/font';
@import 'base/color';
@import 'base/mixin';


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #000000;
    background-color: #fff;
}
.container{
    max-width: 1350px;
    margin: 0 auto;
    &--main{
        max-width: 1450px;
        background: url(../img/Background.png);
    }
}
@import 'block/header-component';
@import 'block/header';
@import 'block/nav-burger';
@import 'block/nav';
@import 'block/social';
@import 'block/discuss';
@import 'block/lang';
@import 'block/text';
@import 'block/button';
@import 'block/_slider';
@import 'block/video';
@import 'block/title';
@import 'block/partners';
@import 'block/content';
@import 'block/print';
@import 'block/accordion';
@import 'block/customer';
@import 'block/slider-customer';
@import 'block/indicator';
@import 'block/blog';
@import 'block/card';
@import 'block/footer-components';