.button{
    width: 200px;
    color: #fff;
    background-color: $blue;
    cursor: pointer;
    border: none;
    border-radius: 30px;
    padding: 20px;
    font-size: 16px;
    font-weight: 700;
    &--white{
        background-color: #fff;
        color: $blue;
    }
}
.slider__btn{
    padding: 20px 15px;
    background-color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.slider.slider--top .prev{
    border: 1px solid #fff;
    background-image: url(../../img/leftArrow.png);
    background-position: center; 
    background-repeat: no-repeat; 
    
}
.slider.slider--top .next{
    border: 1px solid $blue;
    background-image: url(../../img/rightArrowBlue.png);
    background-position: center; 
    background-repeat: no-repeat;
}
.slider-customer .prev{
    border: 1px solid $blue;
    background-image: url(../../img/leftArrowBlue.png);
    background-position: center; 
    background-repeat: no-repeat;
}
.slider-customer .next{
    border: 1px solid $blue;
    background-image: url(../../img/rightArrowBlue.png);
    background-position: center; 
    background-repeat: no-repeat;
}
@include media-query(1100){
    .slider.slider--top .next{
        border: 1px solid #fff;
        background-image: url(../../img/rightArrowWhite.png);
    }
}