.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    &__wrapper{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        &--left{
            flex-basis: 67%;
        }
        &--right{
            flex-basis: 27%;
            justify-content: space-between;
        }
    }
    &__logo{
        flex-basis: 20%;
    }
    &__nav{
        flex-basis: 40%;
    }
    &__social{
        flex-basis: 40%;
    }
    &.header--fixed{
        position: fixed;
        margin: 0 auto;
        height: 60px;
        max-width: 100%;
        margin: 0 auto;
        top: 0;
        right: 0;
        left: 0;
        background-color: $blue;
        z-index: 2000;
        justify-content: center;
    }
}
.header.header--fixed .header__wrapper.header__wrapper--left{
    max-width: 905px;
}
.header.header--fixed .header__wrapper.header__wrapper--right{
    max-width: 440px;
}
@include media-query(1000){
    .header{
        &__nav{
            display: none;
        }
        &__wrapper{
            &--left{
                flex-basis: 39%;
            }
            &--right{
                flex-basis: 49%;
            }
        }
        
    }
    
}
@include media-query(550){
    .header{
        &__discuss{
            display: none;
        }
        
    }
    
}
