.nav{
    &__list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
    }
    &__item{
        font-weight: 400;
        position: relative;
        width: 100px;
        text-align: center;
        &:hover:before{
            position: absolute;
            content: "";
            top: -55px;
            left: 0;
            @include box(100%, 3px);
            background: #ffffff;
        }
    }
    &__link{
        color: #ffffff; 
        text-decoration: none;
        cursor: pointer;
        &--black{
            color: #000000;
        }
    }
    &__item--black{
        width: 100%;
        margin-right: 30px;
        &:nth-child(5){
            margin-right: 0;
        }
        &:hover:before{
            width: 0;
        }
        & .nav__link{
            color: #000000;
        }
    }

}
@include media-query (500){
    .footer__nav .nav__list {
        flex-direction: column;
        justify-content: center;
        margin-right: 30px;
    }
    .nav__item--black{
        margin-right: 0px;
    }
}