.slider {
    position: relative;
    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__info {
        flex-basis: 35%;
    }

    &__title {
        margin-bottom: 45px;
    }

    &__text {
        margin-bottom: 45px;
    }

    &__video {
        position: relative;
        width: 560px;
        height: 520px;
        flex-basis: 40%;
        margin-right: 5%;
    }
    &__button{
        position: absolute;
        bottom: -90px;
        right: 70px;
        display: flex;
        justify-content: space-between;
        width: 520px;
    }
}

