.slider {
    position: relative;
    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 30px;
    }

    &__info {
        flex-basis: 40%;
    }

    &__title {
        margin-bottom: 45px;
    }

    &__text {
        margin-bottom: 45px;
    }

    &__video {
        position: relative;
        width: 560px;
        height: 520px;
        flex-basis: 40%;
        margin-right: 5%;
    }
    &__button{
        display: flex;
        justify-content:flex-end;

        &__wrapper{
            display: flex;
            justify-content:  space-between;
            width: 520px;
            margin-top: 20px;
            margin-right: 73px;
        }
    }
}
@include media-query(1000){
    .slider{
        &__button{
             justify-content: center;
             &__wrapper{
                 margin-right: 0;
                 width: 300px;
             }
        }
        &__info{
            flex-basis: 50%;
        }
    }
}
@include media-query(800){
    .slider{
        &__video{
            display: none;
        }
        &__info{
            flex-basis: 100%;
            text-align: center;
            
        }
        &__item{
            margin-left: 0;
        }
    }
}

