.social{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    &__item{
        padding: 10px;
    }
    
}
.footer__social .social__item:nth-child(3){
    padding-right: 0;
}