.title{
    font-size: 40px;
    font-weight: 700;
    &--white{
        color: #ffffff;
    }
    &--h4{
        font-size: 20px;
    }
}
@include media-query(800){
    .title{
        font-size: 32px;
        &--h4{
            font-size: 16px;
        }
    }
    
}